:root {
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  --very-dark-blue-main: hsl(217, 54%, 11%);
  --very-dark-blue-card: hsl(216, 50%, 16%);
  --very-dark-blue-p: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);

  --font: "Outfit", sans-serif;
  --font-size: 1.2rem;
}
* {
  padding: 0;
  margin: 0;
  font-family: var(--font);
}
body {
  font-size: var(--font-size);
  background-color: var(--very-dark-blue-main);
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
}
header img {
  width: 20rem;
  height: 20rem;

  border-radius: 1rem;

  object-fit: cover;
}
h2 {
  color: var(--white);
  font-size: 1.4rem;
  margin-bottom: 1rem;
}
svg {
  margin-right: 0.5rem;
}
footer {
  display: flex;
  align-items: center;
  //   justify-content: space-between;
  color: var(--white);
  letter-spacing: 1px;
}
footer img {
  height: auto;
  width: 3rem;
  border: 2px solid var(--white);
  border-radius: 100%;

  margin-right: 1rem;
}
.divider {
  height: 2px;
  border-top: 2px solid var(--very-dark-blue-p);
  margin-bottom: 1rem;
}
.card-body {
  margin: 2rem 1rem 1rem 1rem;
  p {
    color: var(--very-dark-blue-p);
  }
}
.card {
  width: 20rem;

  padding: 1.2rem;
  margin-bottom: 1.5rem;

  border-radius: 1rem;

  background-color: var(--very-dark-blue-card);
  box-shadow: 12px 23px 0px 11px var(--very-dark-blue-main);

  display: flex;
  flex-direction: column;
}
.container-caract {
  display: flex;
  justify-content: space-between;

  margin: 1rem 0 1rem 0;
}
.price {
  color: var(--cyan);
}
.date {
  color: var(--very-dark-blue-p);
  font-weight: 600;
}
.footer-text {
  color: var(--very-dark-blue-p);
}
@media (min-width: 720px) {
  .attribution {
    display: flex;
    flex-direction: row;
  }
}
@media (max-width: 630px) {
  .attribution {
    display: flex;
    flex-direction: column;
  }
  .card{
    margin: 1rem;
  }
}
